.homePage-container{
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 0;
}
.home-name {
    color: #07509f;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.home-name:hover {
    /* cursor: pointer; */
    color: black;
}
.home-intro-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-style: italic;
}